
  <div>
    <div class="header" >
      <h1>Add shop</h1>
    </div>

<div class="field">
          <div>
            Shop name
          </div>
          <select name="Name" id="">
            <option value=""></option>
          </select>
        </div>
        <div class="field">
          <div>
            quantity
          </div>
          <input type="text" name="quantity" id="">
        </div>
        <div>
          <div>
            price
          </div>
          <input type="text" name="price" id="">
        </div>
        <div>
        <div>
          <button>Add</button>
        </div>


